.wrapper {
  display: grid;
  margin: 200px 90px auto;
}

.wrapper .box {
  width: 350px;
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
}

.wrapper .box .front-face {
  background: #12e2a3;
  height: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease;
  border-radius: 5px;
}

.box .front-face .icon {
  height: 80px;
}

.box .front-face .icon i {
  font-size: 80px;
}

.front-face span {
  color: #fff;
}

.box .front-face span,
.box .back-face span {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.box .front-face .icon i,
.box .front-face span {
  background: #364f6b;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box .back-face {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 220px;
  width: 100%;
  padding: 30px;
  color: #364f6b;
  opacity: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background: #12e2a3;
  transform: translateY(110px) rotateX(-90deg);
  box-shadow: 0 5px 20px 0 rgba(0, 81, 250, 0.1);
  transition: all 0.5s ease;
  border-radius: 5px;
}

.box .back-face p {
  margin-top: 10px;
  text-align: justify;
}

.box:hover .back-face {
  opacity: 1;
  transform: rotateX(0deg);
}

.box:hover .front-face {
  opacity: 0;
  transform: translateY(-110px) rotateX(90deg);
}
